body,
html {
  height: 100%;
  width: 100%;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

:root {
  /*& For colors  */
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.65s ease-in-out;
}

#root {
  height: 100%;
  width: 100%;
}

/* Fonts */
@font-face {
  font-family: anurati;
  src: url("./fonts/anurati/Anurati-Regular.otf");

}

@font-face {
  font-family: aeon;
  src: url("./fonts/aeonFont/AeionMonoVariableTest-Bold-BF64c1e6b7525a5.otf");
}

@font-face {
  font-family: aerox;
  src: url("./fonts/aerox/Assasin Aerox.ttf");
}

@font-face {
  font-family: stacker;
  src: url("./fonts/stacker/Stacker-jE03l.ttf");
}

@font-face {
  font-family: kapiler;
  src: url("./fonts/kapiler/kapilerregular-6y1do.otf");
}

@font-face {
  font-family: metropolis;
  src: url("./fonts/metropolis/Metropolis-Black.otf");
}

.homeWrapper {
  height: 100%;
  width: 100%;
  /* outline: 1px solid red; */
}

.homeBody {
  height: 90%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
}

.homeBody .sidebar {
  height: 100%;
  width: 7%;
  /* border: 1px solid red; */
}

.homeBody .content {
  height: 100%;
  width: 93%;
  /* border: 1px solid rgb(255, 0, 0); */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Styling scroll bars */
*::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
  /* Background color of the track */
}

*::-webkit-scrollbar-thumb {
  background: #444;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: #666;
  /* Color of the thumb on hover */
}

/* Navbar.js */
.navBar {
  height: 10%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar .logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: .35rem;
}

.navBar .logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.35rem;
}

.navBar .title {
  font-family: metropolis;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
}

.navBar .navUtils {
  display: flex;
  align-items: center;
}

.navBar .search {
  display: flex;
  background: #1b1b1b;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.35rem;
}

.search input {
  background: transparent;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: rgb(206, 206, 206);
  width: 13rem;
}

.search input::-webkit-search-cancel-button {
  position: relative;
  right: -2px;
}

.search:focus-within {
  outline: 1.35px solid rgb(54, 54, 54);
}

.search i {
  transition: all ease 0.3s;
  opacity: 0.85;
}

.search i:active {
  scale: 0.86;
}

.search i:hover {
  opacity: 1;
}

.notifications {
  display: flex;
  align-items: center;
  padding: 0.65rem;
  /* outline: 1px solid red; */
  justify-content: space-between;
  margin-right: 0.5rem;
}

.notifications i {
  justify-content: space-between;
  opacity: 0.85;
  font-size: 1.2rem;
  margin-inline: 0.5rem;
  transition: all ease 0.3s;
}

.notifications i:hover {
  opacity: 1;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid red; */
  margin-right: 2rem;
}

.user .userName {
  font-size: 0.95rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 0.85rem;
}

.user .userSprite {
  height: 1.65rem;
  width: 1.65rem;
  outline: 1.65px solid #3869AC;
  border-radius: 0.3rem;

}

/* Sidebar */
.sidebar .item {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 1.5rem;
  margin-block: 1.55rem;
  position: relative;
}

.item i {
  opacity: 0.75;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
  font-size: 1.35rem;
  height: 2rem;
}

.item i:hover {
  opacity: 1;
}

.sidebar .rotate {
  rotate: -90deg;
}

.item[data-active="1"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0rem;
  width: 3px;
  background-color: #006aff;
  animation: fall ease 0.3s forwards;
}

@keyframes fall {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 1.5rem;
  }
}

/* Content.js */

.trend {
  display: flex;
  width: 100%;
  /* border: 1px solid white; */
  justify-content: space-between;
  text-transform: uppercase;
  font-family: aeon;
  padding: 1rem 1rem;

}

.trend .trendTitle {
  font-size: 3.35rem;
  width: 32rem;
  /* border: 1px solid white; */
  word-wrap: break-word;
}

.trend .trendMedia {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 5rem;
}

.trend .trendMedia:hover .trendContent {
  transform: scale(1.2);
  /* Apply a scaling transformation on hover */
}

.trend .trendContent {
  height: 14rem;
  width: 22rem;
  object-fit: cover;
  transition: transform 0.3s;
  transform-origin: top right;
}

.trend .trendTitle p {
  font-family: monospace;
  /* letter-spacing: 1px; */
  font-weight: bolder;
  text-transform: none;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #c1c1c1;
  transition: all ease 0.3s;
}

.trend .trendTitle p:hover {
  color: #3869AC;
  cursor: grab;
}

.trend .trendTitle p:active {
  cursor: grabbing;
}

.tales {
  padding: 1rem 1rem;
}

.tales p {
  margin-bottom: 1rem;
  font-family: aerox;
  font-size: 1.5rem;
}

.tales .cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* border: 1px solid red; */
}

.tales .card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tales .card img {
  height: 9rem;
  width: 13rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tales .card .taleTitle {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  margin-inline: 0.2rem;
  font-size: 0.825rem;
  font-family: Arial, Helvetica, sans-serif;
}

.tales .taleUser {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.tales .taleUser .taleUserSprite {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  margin-inline: 0.2rem;
  margin-right: 0.4rem;
}

.tales .taleUser p {
  opacity: 0.65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  margin: 0;
}

.badge {
  display: none;
}

.tales .newBadge {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0.55rem;
  left: 0.5rem;
  background-color: lime;
  height: 1.25rem;
  width: 1.85rem;
  border-radius: 0.55rem;
}

.tales .newBadge::after {
  content: "New";
  z-index: 9999;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  position: absolute;
  top: 0.35rem;
  left: 0.4rem;
  transform: translate(-50% -50%);
}

.cardContainer:hover .card:hover {
  transition: filter 0.3s ease;

}

.cardContainer:hover .card:hover>img {
  outline: 2px solid #3869AC;
}

.card:not(:hover) {
  filter: blur(1.5px);
}

.cardContainer:not(:hover) .card {
  filter: blur(0);
}


/* For ToolTips */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  font-family: metropolis;
  font-size: 0.65rem;
  font-weight: normal;
  left: 120%;
  padding: 7px;
  border-radius: 4.5px;
  top: 50%;
  translate: 0 -50%;
  background-color: #006aff;
  color: white;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.warning {
  color: rgb(173, 7, 7);
}

/* Spinner */
.spinner {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Placeholder loading animation */
.animated-background {
  animation-duration: 4.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.uploadContainer {
  margin-left: 1.25rem;
  margin-top: 0.6rem;
  width: 100%;
  /* border: 1px solid red; */
}

.uploadContainer .uploadTitle {
  font-size: 2.5rem;
  font-weight: 800;
}

.uploadContainer .uploadTitle span {
  color: #3869AC;
}

.uploadContainer .uploadBox {
  height: 50%;
  width: 60%;
  background-color: rgba(109, 190, 253, 0.2);
  border: 2px solid #3869AC;
  border-radius: 1rem;
  margin-block: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #323232;
}

.uploadContainer .uploadBox i {
  font-size: 1.5rem;
  margin-bottom: 1.35rem;
}

.uploadContainer .uploadBox p {
  color: #bebebe;
}

.uploadContainer .uploadBox span {
  color: #006aff;

}

.uploadContainer .captionInput {
  padding: 0.65rem 0.5rem;
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #1b1b1b;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.uploadContainer .captionInput input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 99%;
}

.uploadContainer .captionInput input::-webkit-search-cancel-button {
  position: relative;
  right: -4px;
}

.uploadContainer .captionInput:focus-within {
  outline: 2px solid #323232;
}

.uploadContainer .uploadAction {
  display: flex;
  align-items: center;
  width: 60%;
}

.uploadContainer .uploadAction button {
  background: #345789;
  outline: 2px solid #345789;
  padding: 0.35rem 1rem;
  color: #fff;
  font-weight: 550;
  border-radius: 0.5rem;
  border: none;
  transition: all ease 0.3s;
  cursor: pointer;
}

.uploadContainer .uploadAction button:hover {
  scale: 0.98;
}

.uploadContainer .uploadAction button:active {
  opacity: 0.68;
}

/* loader */
.loader {
  display: flex;
  width: 100%;
  height: 100%;
  background: #000;
  justify-content: center;
  align-items: center;
}

.loader p {
  color: #006aff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;

}

/* Posts */
.posts {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding-left: 2rem;
  /* border: 1px solid red; */
  height: 100%;
  gap: 1.5rem;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.postContainer {
  height: 14.5rem;
  width: 15rem;
  /* border: 1px solid red; */
  overflow: hidden;
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
}

.postMedia {
  width: 100%;
  height: 80%;
  background-color: #252525;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
}
.postMedia img{
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
  position: relative;  
  z-index: 9999;
}
.postMedia::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }

  11.5044247788%,
  100% {
    left: 100%;
    transition-property: left;
  }
}

.postAction {
  display: flex;
  gap: .3rem;
  margin-top: .35rem;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}


.delete-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  justify-content: end;
  padding-right: 1rem;

}

.delete-button:hover::before {
  content: "Delete";
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}



.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}


.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #006aff;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.edit-button:hover::before {
  content: "Edit";
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

/* Setting page */
.setting{
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
  padding: 1.4rem;
}
.setting h2{
  font-size: 1.85rem;
  margin-bottom: 0.55rem;
  color: #e7e7e7;
}
.setting hr{
  border: 1px solid #323232;
  width: 82%;
  margin-bottom: 1rem;
}
.info{
  display: flex;
  gap: 10rem;

}
.userDetails{
  display: flex;
  flex-direction: column;
}
.userDetails p{
  font-size: 1rem;
  margin-bottom: .7rem;
  font-weight: 550;
}
.userDetails .userSettingName,.userDetails .userSettingEmail{
  font-size: .95rem;
  padding: 0.5rem;
  background: #111111;
  outline: 1px solid rgb(168, 168, 168);  
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.userDetails .userSettingName input,.userDetails .userSettingEmail input{
  margin-bottom: 0;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.userDetails small{
  color: #7D8590;
  font-size: .9rem;
  margin-block: .7rem;
}
p[contenteditable="true"]{
  outline: none;
}
.userImage{
  border: 1.5px solid white;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  position: relative;
  margin-top: 1rem  ;
  overflow: hidden;
}
/* .userImage p{
  position: absolute;
  z-index: 999;
  top: 0rem;
  left: -2rem;
  font-size: .75rem;
  color: white;
} */
.userImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 99999;
  border-radius: 50%;
}
.setting button{
  padding: 0.45rem 1rem;
  border: none;
  outline: none;
  margin-right: .5rem;
  border-radius: .35rem;
}
.setting .save{
  background-color: #006aff;
  font-weight: 550;
  transition: all ease 0.3s;
}
.setting .delete{
  background-color: #ff0000;
  font-weight: 550;
  transition: all ease 0.3s;
}
.setting .save:hover , .setting .delete:hover{
  scale: 0.98;
  opacity: 0.7;
  cursor: pointer;
  color: #111111;
}
.userImage::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  animation: shine 2s ease-in-out infinite;
}
