body,
html {
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

:root {
  /*& For colors  */
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.65s ease-in-out;
  /* Signup login color */
  --newbg: rgb(11, 11, 11);
  --bgcolor: rgb(14, 12, 18);
  --innerbg: black;
  --text: white;
  --lighttext: rgb(152, 150, 150);
  --blue: #009eff;
  --darkBlue: #0782cf;
  --inputColor: rgb(32, 31, 35);
}

#root {
  height: 100%;
  width: 100%;
}

/* Fonts */
@font-face {
  font-family: anurati;
  src: url("./fonts/anurati/Anurati-Regular.otf");
}

@font-face {
  font-family: aeon;
  src: url("./fonts/aeonFont/AeionMonoVariableTest-Bold-BF64c1e6b7525a5.otf");
}

@font-face {
  font-family: aerox;
  src: url("./fonts/aerox/Assasin Aerox.ttf");
}

@font-face {
  font-family: stacker;
  src: url("./fonts/stacker/Stacker-jE03l.ttf");
}

@font-face {
  font-family: kapiler;
  src: url("./fonts/kapiler/kapilerregular-6y1do.otf");
}

@font-face {
  font-family: metropolis;
  src: url("./fonts/metropolis/Metropolis-Black.otf");
}

.homeWrapper {
  height: 100%;
  width: 100%;
  /* outline: 1px solid red; */
}

.homeBody {
  height: 90%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
}

.homeBody .sidebar {
  height: 100%;
  width: 7%;
  /* border: 1px solid red; */
}

.homeBody .content {
  height: 100%;
  width: 93%;
  /* border: 1px solid rgb(255, 0, 0); */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Styling scroll bars */
*::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
  /* Background color of the track */
}

*::-webkit-scrollbar-thumb {
  background: #444;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: #666;
  /* Color of the thumb on hover */
}

/* Navbar.js */
.navBar {
  height: 10%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar .logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.35rem;
}

.navBar .logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.35rem;
}

.navBar .title {
  font-family: metropolis;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
}

.navBar .navUtils {
  display: flex;
  align-items: center;
}

.navBar .search {
  display: flex;
  background: #1b1b1b;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.35rem;
}

.search input {
  background: transparent;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: rgb(206, 206, 206);
  width: 13rem;
}

.search input::-webkit-search-cancel-button {
  position: relative;
  right: -2px;
}

.search:focus-within {
  outline: 1.35px solid rgb(54, 54, 54);
}

.search i {
  transition: all ease 0.3s;
  opacity: 0.85;
}

.search i:active {
  scale: 0.86;
}

.search i:hover {
  opacity: 1;
}

.notifications {
  display: flex;
  align-items: center;
  padding: 0.65rem;
  /* outline: 1px solid red; */
  justify-content: space-between;
  margin-right: 0.5rem;
}

.notifications i {
  justify-content: space-between;
  opacity: 0.85;
  font-size: 1.2rem;
  margin-inline: 0.5rem;
  transition: all ease 0.3s;
}

.notifications i:hover {
  opacity: 1;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid red; */
  margin-right: 2rem;
}

.user .userName {
  font-size: 0.95rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 0.85rem;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}

.user .userName .tooltip {
  visibility: hidden;
  font-size: 0.75rem;
  font-weight: 650;
  background-color: #006aff;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 999999999;
  bottom: -150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.user .userName:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.user .userSprite {
  height: 1.65rem;
  width: 1.65rem;
  outline: 1.65px solid #3869ac;
  border-radius: 0.3rem;
  object-fit: cover;
  cursor: pointer;
}

/* Sidebar */
.sidebar .item {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 1.5rem;
  margin-block: 1.55rem;
  position: relative;
}

.item i {
  opacity: 0.75;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
  font-size: 1.35rem;
  height: 2rem;
}

.item i:hover {
  opacity: 1;
}

.sidebar .rotate {
  rotate: -90deg;
}

.item[data-active="1"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0rem;
  width: 3px;
  background-color: #006aff;
  animation: fall ease 0.3s forwards;
}

@keyframes fall {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 1.5rem;
  }
}

/* Content.js */

.trend {
  display: flex;
  width: 100%;
  /* border: 1px solid white; */
  justify-content: space-between;
  text-transform: uppercase;
  font-family: aeon;
  padding: 1rem 1rem;
}

.trend .trendTitle {
  font-size: 3.35rem;
  width: 32rem;
  /* border: 1px solid white; */
  word-wrap: break-word;
}

.trend .trendMedia {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 5rem;
}

.trend .trendMedia:hover .trendContent {
  transform: scale(1.2);
  /* Apply a scaling transformation on hover */
}

.trend .trendContent {
  height: 14rem;
  width: 22rem;
  object-fit: cover;
  transition: transform 0.3s;
  transform-origin: top right;
}

.trend .trendTitle p {
  font-family: monospace;
  /* letter-spacing: 1px; */
  font-weight: bolder;
  text-transform: none;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #c1c1c1;
  transition: all ease 0.3s;
}

.trend .trendTitle p:hover {
  color: #3869ac;
  cursor: grab;
}

.trend .trendTitle p:active {
  cursor: grabbing;
}

.tales {
  padding: 1rem 1rem;
}

.tales p {
  margin-bottom: 1rem;
  font-family: aerox;
  font-size: 1.5rem;
}

.tales .cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* border: 1px solid red; */
}

.tales .card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tales .card img {
  height: 9rem;
  width: 13rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tales .card .taleTitle {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  margin-inline: 0.2rem;
  font-size: 0.825rem;
  font-family: Arial, Helvetica, sans-serif;
}

.tales .taleUser {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.tales .taleUser .taleUserSprite {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  margin-inline: 0.2rem;
  margin-right: 0.4rem;
}

.tales .taleUser p {
  opacity: 0.65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  margin: 0;
}

.badge {
  display: none;
}

.tales .newBadge {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0.55rem;
  left: 0.5rem;
  background-color: #006aff;
  height: 1.25rem;
  width: 1.85rem;
  border-radius: 0.55rem;
}

.tales .newBadge::after {
  content: "New";
  z-index: 9999;
  color: white;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  position: absolute;
  top: 0.35rem;
  left: 0.4rem;
  transform: translate(-50% -50%);
}

.card:hover {
  transition: filter 0.3s ease;
}

.card:hover > img {
  outline: 2px solid #3869ac;
}

.card:hover ~ .card {
  filter: blur(1.5px);
}

/* .cardContainer:not(:hover) .card {
  filter: blur(0);
} */

/* For ToolTips */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  display: block;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  font-family: metropolis;
  font-size: 0.65rem;
  font-weight: normal;
  left: 120%;
  padding: 7px;
  border-radius: 4.5px;
  top: 50%;
  translate: 0 -50%;
  background-color: #006aff;
  color: white;
  z-index: 99999;
  display: none;
}

[data-title] {
  position: relative;
}

.warning {
  color: rgb(173, 7, 7);
}

/* Spinner */
.spinner {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Placeholder loading animation */
.animated-background {
  animation-duration: 4.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.uploadContainer {
  margin-left: 1.25rem;
  margin-top: 0.6rem;
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.uploadSection1 {
  width: 45%;
  height: 100%;
}
.uploadSection2 {
  width: 50%;
  height: 100%;
}
.uploadContainer .uploadTitle {
  font-size: 2.5rem;
  font-weight: 800;
}

.uploadContainer .uploadTitle span {
  color: #3869ac;
}

.uploadContainer form {
  height: 100%;
  width: 100%;
}

.uploadContainer .uploadBox input[type="file"] {
  display: none;
}

.uploadContainer .uploadBox {
  height: 50%;
  width: 95%;
  background-color: rgba(109, 190, 253, 0.2);
  border: 2px solid #3869ac;
  border-radius: 1rem;
  margin-block: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #323232;
  position: relative;
}
.uploadSection2 .uploadTitle {
  color: transparent;
}
.uploadPreview {
  height: 72%;
  width: 80%;
  margin-block: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  outline: 1.5px solid #006aff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadPreview p {
  opacity: 0.25;
  font-size: 1.5rem;
  font-weight: 550;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: all ease 0.3s;
}

.uploadPreview p:hover {
  opacity: 1;
  color: #006aff;
}
.uploadPreview .imgPreview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.uploadContainer .uploadBox i {
  font-size: 1.5rem;
  margin-bottom: 1.35rem;
}

.uploadContainer .uploadBox p {
  color: #bebebe;
}

.uploadContainer .uploadBox span {
  color: #006aff;
}

.uploadContainer .captionInput {
  padding: 0.65rem 0.5rem;
  display: flex;
  align-items: center;
  width: 95%;
  background-color: #1b1b1b;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.uploadContainer .captionInput input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 99%;
}

.uploadContainer .captionInput input::-webkit-search-cancel-button {
  position: relative;
  right: -4px;
}

.uploadContainer .captionInput:focus-within {
  outline: 2px solid #323232;
}

.uploadContainer .uploadAction {
  display: flex;
  align-items: center;
  width: 60%;
}

.uploadContainer .uploadAction button {
  background: #345789;
  outline: 2px solid #345789;
  padding: 0.35rem 1rem;
  color: #fff;
  font-weight: 550;
  border-radius: 0.5rem;
  border: none;
  transition: all ease 0.3s;
  cursor: pointer;
  font-size: 1.25rem;
}

.uploadContainer .uploadAction button:hover {
  scale: 0.98;
}

.uploadContainer .uploadAction button:active {
  opacity: 0.68;
}

/* loader */
.loader {
  display: flex;
  width: 100%;
  height: 100%;
  background: #000;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 4.5rem;
  width: 4.5rem;
}

/* Posts */
.posts {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding-left: 2rem;
  padding-top: 1.85rem;
  /* border: 1px solid red; */
  height: 100%;
  gap: 1.5rem;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.postContainer {
  height: 14.5rem;
  width: 15rem;
  /* border: 1px solid red; */
  overflow: hidden;
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.postMedia {
  width: 100%;
  height: 80%;
  background-color: #252525;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.postMedia img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.7rem;
  position: relative;
  z-index: 999;
}

.postMedia::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }

  11.5044247788%,
  100% {
    left: 100%;
    transition-property: left;
  }
}

.postAction {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.35rem;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.delete-button:hover::before {
  content: "Delete";
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.view-button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.view-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #006aff;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.view-button:hover::before {
  content: "View";
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.editBtn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 99999;
  cursor: pointer;
  color: #006aff;
}

/* Setting page */
.setting {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
  padding: 1.4rem;
}

.setting h2 {
  font-size: 2.5rem;
  margin-bottom: 0.55rem;
  color: #e7e7e7;
}

.setting hr {
  border: 1px solid #323232;
  width: 90%;
  margin-bottom: 1.5rem;
}

.info {
  display: flex;
  gap: 10rem;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userDetails p {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  font-weight: 550;
}

.userDetails .userSettingName,
.userDetails .userSettingEmail {
  font-size: 0.95rem;
  padding: 0.5rem;
  background: #111111;
  outline: 1px solid rgb(168, 168, 168);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userDetails .userSettingName input,
.userDetails .userSettingEmail input ,.settingEmail{
  margin-bottom: 0;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.userDetails small {
  color: #7d8590;
  font-size: 0.9rem;
  margin-block: 0.7rem;
}

p[contenteditable="true"] {
  outline: none;
}

.userImage {
  border: 1.5px solid white;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.tooltip2 {
  visibility: hidden;
  font-size: 0.75rem;
  font-weight: 650;
  background-color: #006aff;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 999999999;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.userImage:hover .tooltip2 {
  visibility: visible;
  opacity: 1;
}

/* .userImage p{
  position: absolute;
  z-index: 999;
  top: 0rem;
  left: -2rem;
  font-size: .75rem;
  color: white;
} */
.userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 99999;
  border-radius: 50%;
}

.setting button {
  padding: 0.45rem 1rem;
  border: none;
  outline: none;
  margin-right: 0.5rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;
}

.setting .save {
  background-color: #006aff;
  font-weight: 550;
  transition: all ease 0.3s;
}

.setting .delete {
  background-color: #ff0000;
  font-weight: 550;
  transition: all ease 0.3s;
}
.setting .imageBtn {
  background-color: #fff;
  font-weight: 550;
  transition: all ease 0.3s;
  color: #000;
}

.setting .save:hover,
.setting .delete:hover,
.setting .imageBtn:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #111111;
}

.userImage::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  animation: shine 2s ease-in-out infinite;
}

/* Popup.jsx */

.popupCard {
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 80%;
  width: 50%;
  border-radius: 1rem;
  background: rgb(26, 30, 40);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
}

.imgMedia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vidMedia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cancel {
  position: absolute;
  font-size: 1.5rem;
  color: #000;
  left: 0.75rem;
  top: 0.5rem;
  cursor: pointer;
  z-index: 9999999;
}

.cancelIcon {
  opacity: 0.85;
  transition: all ease 0.1s;
  text-shadow: 0 0 5px black, 0 0 2px black, 0 0 2px black;
}

.cancelIcon:hover {
  opacity: 1;
}

.mediaDetails {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  overflow: hidden;
  position: absolute;
  bottom: 1rem;
  align-items: center;
  /* border: 1px solid red; */
  gap: 0.65rem;
}

.mediaDetails img {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  border: 1.5px solid #006aff;
}

.mediaDetails p {
  font-size: 0.95rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sidePanel {
  position: absolute;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 2.5rem;
  gap: 0.75rem;
}

.heart,
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-shadow: 0 0 5px black, 0 0 2px black, 0 0 2px black;
}

.sidePanel i {
  font-size: 1.55rem;
}

p.likeCount,
p.commentCount {
  font-size: 0.6rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.marquee {
  cursor: pointer;
}

/* EditPost */
.editPost {
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editCancel {
  position: absolute;
  font-size: 1.5rem;
  color: #000;
  right: 0.75rem;
  top: 0.5rem;
  cursor: pointer;
  z-index: 9999999;
}

.editBoxContainer {
  background: rgb(11, 11, 18);
  height: 26rem;
  width: 30rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.editBoxContainer h2 {
  margin: 1rem;
  opacity: 0.65;
}

.editBoxContainer h2 i {
  font-size: 1rem;
  margin-left: 0.25rem;
}

.editBoxContainer textarea {
  margin: 1rem;
  font-size: 1.2rem;
  background: #161c29;
  height: 60%;
  width: 92.5%;
  border: none;
  padding: 0.5rem 0.55rem;
  resize: none;
  border-radius: 0.5rem;
}

.editBoxContainer button {
  margin: 1rem;
  padding: 0.5rem 0.75rem;
  border: none;
  color: #006aff;
  outline: 1px solid #006aff;
  background: transparent;
  border-radius: 0.5rem;
  width: 5rem;
  transition: all ease 0.3s;
  cursor: pointer;
  font-weight: 550;
}

.editBoxContainer button:hover {
  outline: none;
  background: #006aff;
  color: black;
}

.editBoxContainer button:active {
  scale: 0.96;
}

/* Comment section */
.commentSection {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 20%;
  background: #111111;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  animation: expand 0.3s ease-in-out;
}

@keyframes expand {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 20%;
    opacity: 1;
  }
}

.cancelComment {
  right: 0.75rem;
  top: 0.75rem;
  cursor: pointer;
  z-index: 9999999;
  position: absolute;
  font-size: 0.75rem;
  opacity: 0.85;
  transition: all ease 0.2s;
}

.cancelComment:hover {
  opacity: 1;
}

.commentSection p {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.commentSection hr {
  width: 100%;
  border: 1px solid #252525;
}

.commentBox {
  height: 80%;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
}

.commentInput {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.65rem;
  padding-right: 0.45rem;
}

.commentInput input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 0.75rem;
}

.commentInput button {
  outline: none;
  border: none;
  background: #006aff;
  color: black;
  font-weight: 580;
  font-size: 0.55rem;
  padding: 0.45rem;
  border-radius: 0.275rem;
  transition: all ease 0.3s;
}

.commentInput button:hover {
  opacity: 0.85;
}

.commentInput button:active {
  scale: 0.95;
}

.comment {
  width: 100%;
  font-size: 0.55rem;
  opacity: 0.86;
  color: #acacac;
  font-weight: 550;
  margin-bottom: 0.85rem;
}

.commentUser {
  display: flex;
}

.commentUser img {
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 50%;
  margin-right: 0.45rem;
}

.commentUser p {
  padding: 0;
  margin: 0;
  font-size: 0.65rem;
  color: #006aff;
  margin-right: 0.25rem;
  margin-bottom: 0.35rem;
  font-weight: 550;
}

/* Login and Signup styling */

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* padding: 2rem; */
  background-color: var(--newbg);
}

.svgImage {
  position: absolute;
  right: -5rem;
  bottom: 2rem;
  /* border:1px solid red; */
  height: 12rem;
  opacity: 0.5;
  margin: 0%;
  filter: invert(1);
  transform: rotate(330deg) scale(0.75);
}

.signIncontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 0 0 2rem;
  align-items: center;
  position: relative;
}

.signInnav {
  display: flex;
  gap: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.signInnav .signInpara {
  color: var(--text);
}

.appname {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.appname .signInpara {
  font-weight: 900;
}

.signInmain {
  padding: 0rem 3rem;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.LoginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 4rem;
  margin: 3rem 0;
}

.LoginMain #accountcreateBtn {
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 100%;
  outline: 2px solid var(--blue);
  color: white;
  text-align: center;
  border-radius: 0.5rem;
}

.h5tag {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: aliceblue;
  flex-direction: row;
  margin: 1rem 0 0 0;
  gap: 0.5rem;
}

.h5tag:before,
.h5tag:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.8px solid white;
  margin: auto;
}

.signInpara {
  color: var(--lighttext);
  font-size: 0.8rem;
  font-weight: 700;
}

.join {
  display: none;
  color: var(--lighttext);
  font-size: 1rem;
  font-weight: 700;
  transition: all ease 0.3s;
}

.join:hover {
  color: white;
}

.h1tag {
  color: var(--text);
  font-weight: bold;
  font-size: 2.25rem;
}

.h6tag {
  font-size: 0.9rem;
  color: var(--text);
  margin: 0.5rem 0 2rem 0;
  font-weight: 300;
}

.LoginMain .h1tag {
  font-size: 2rem;
  margin: 1.25rem 0 0 0;
  padding: 0;
}

.atag {
  color: var(--blue);
  text-decoration: none;
}

.LoginMain .inputs {
  margin: 1rem 0 0 0;
  width: 100%;
}

.signInmain .inputs {
  margin: 1rem 0 0 0;
}

.inputs {
  width: 100%;
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: column;
  justify-self: center;
  gap: 0.75rem;
}

.name {
  display: flex;
  gap: 0.75rem;
}

.inputDiv input {
  background: none;
  color: var(--text);
  border: none;
  width: 6.5rem;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
}

.email input {
  width: 100%;
}

.password input {
  width: 100%;
}

.inputDiv {
  height: 2.25rem;
  padding: 1.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background: var(--inputColor);
  border-radius: 0.5rem;
}

.signInmain .inputs {
  gap: 0.75rem;
  margin: 3rem 0 1.5rem 0;
}

.signInmain .inputDiv {
  height: 2.5rem;
  padding: 1rem;
  gap: 0.75rem;
}

.createbtn,
.loginBtn {
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: var(--text);
  transition: all ease 0.2s;
  cursor: pointer;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.loginBtn:hover {
  opacity: 0.86;
}

.createbtn:hover {
  opacity: 0.92;
  scale: 0.98;
}

.inputDiv:focus-within {
  outline: 2px solid var(--blue);
}

.inputDiv i {
  font-size: large;
}

#pwdcase {
  font-size: 1rem;
  display: flex;
  color: white;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

#pwdcase span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#rememberbtn {
  background-color: black;
  color: #009eff;
  border: none;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.form-group input[type="checkbox"] {
  cursor: pointer;
}

.form-group label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

/* for mobile */

@media (max-width: 480px) {
  .signInnav a {
    display: none;
  }

  .appname .signInpara {
    font-size: 1.5rem;
  }

  .LoginMain {
    width: 95%;
    padding: 0%;
    height: 90%;
    margin: 4rem 0 0 0;
    justify-content: space-between;
  }

  .signInmain {
    width: 95%;
    padding: 0%;
    height: 90%;
    margin: 6rem 0 0 0;
  }

  .createbtn {
    width: 100%;
    border-radius: 0.75rem;
    height: 3rem;
    font-size: 1rem;
    justify-content: center;
  }

  .signInmain .inputs {
    width: 100%;
  }

  .signInmain .inputDiv {
    height: 3rem;
    padding: 0.75rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
    background: var(--inputColor);
    border-radius: 0.75rem;
  }

  .signInmain .inputDiv input {
    font-size: 1rem;
  }

  .inputDiv i {
    font-size: large;
  }

  .h1tag .atag {
    font-size: 2.5rem;
  }

  .name {
    flex-direction: column;
    gap: 0.75rem;
  }

  .name .inputDiv input {
    width: 100%;
    gap: 0.75rem;
  }

  .signInnav {
    display: flex;
    gap: 5rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
  }

  .signIncontent {
    height: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  .loginBtn {
    height: 3rem;
    font-size: 1rem;
  }

  .inputDiv {
    height: 3rem;
    padding: 0.75rem;
    gap: 1rem;
    font-size: 1rem;
  }

  .h6tag {
    font-size: 1rem;
  }

  .inputs {
    gap: 1rem;
  }

  .h5tag {
    font-size: 1rem;
  }

  .form-group label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  .atag {
    font-size: 1rem;
  }

  #pwdcase {
    margin: 0.2rem 0 1rem 0;
  }

  .svgImage {
    display: none;
  }

  .wrapper {
    background: none;
  }

  .LoginMain .h1tag {
    font-size: 1.8rem;
    margin: 1.25rem 0 0;
    padding: 0;
  }

  /* home page design  */

  [data-title]:hover:after {
    display: none;
  }
  .homeBody {
    flex-direction: column-reverse;
    align-items: center;
  }
  .trend {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.75rem 0.75rem;
  }
  .tales p {
    margin-bottom: 0.5rem;
    font-family: aerox;
    font-size: 1.25rem;
  }
  .trend .trendMedia {
    display: flex;
    width: 90;
    margin-top: 0%;
    margin-right: 0%;
    align-items: center;
    justify-content: center;
  }
  .trend .trendContent {
    width: 100%;
    height: 57%;
  }
  .trend .trendTitle {
    font-size: 1.25rem;
    width: fit-content;
    padding: 0.5rem;
    padding-top: 1.5rem;
  }
  .homeBody .sidebar {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    /* border: 1px solid red; */
  }
  .sidebar,
  .item {
    display: flex;
    flex-direction: row;
  }
  .homeBody .content {
    width: 100%;
  }
  [data-title]:after {
    display: none;
  }
  .navBar .search {
    display: none;
  }
  .user .userName {
    display: none;
  }
  .tales .cardContainer {
    justify-content: center;
  }
  .tales .card {
    width: 90%;
    height: 90%;
  }
  .tales .card img {
    width: 100%;
    height: 12rem;
  }

  .tales p {
    margin-bottom: 1rem;
  }

  /* upload page */

  .uploadContainer {
    width: 90%;
    margin-left: 0;
    height: 85%;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
  }
  .uploadSection1 {
    width: 100%;
    height: 55%;
  }
  .uploadSection2 {
    width: 100%;
    height: 45%;
  }
  .uploadPreview {
    width: 100%;
    height: 90%;
    margin-top: 0%;
    overflow: hidden;
  }
  .uploadPreview .imgPreview {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .uploadSection2 .uploadTitle {
    display: none;
  }
  .uploadContainer .uploadBox {
    width: 100%;
  }
  .uploadContainer .captionInput {
    width: 100%;
  }
  .uploadContainer .uploadTitle {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .uploadContainer .uploadAction button {
    font-size: 1rem;
  }

  /* post page */
  .posts {
    justify-content: center;
    padding-left: 0rem;
    gap: 0.5rem;
  }
  .postContainer {
    height: 50%;
    width: 82.5%;
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 0.7rem;
    position: relative;
  }
  .postMedia {
    width: 100%;
    height: 80%;
  }

  /* settings page */
  .info {
    display: flex;
    gap: 10rem;
    flex-direction: column-reverse;
  }
  .setting {
    height: 92.5%;
  }
  .setting h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .setting hr {
    border: 1px solid #323232;
    width: 100%;
    margin-bottom: 1rem;
  }
  .userImage {
    height: 50%;
    width: 50%;
    align-self: center;
  }
  .info {
    gap: 1rem;
  }
  .userDetails small {
    display: none;
  }
  .setting button {
    padding: 0.45rem 0.45rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 0.85rem;
  }
  .userDetails .userSettingName,
  .userDetails .userSettingEmail {
    font-size: 1rem;
    padding: 0.5rem;
    background: #111111;
    outline: 1px solid rgb(168, 168, 168);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.75rem;
  }
  .item[data-active="1"]::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 2.0635rem;
    height: 0rem;
    width: 0px;
    background-color: #006aff;
    animation: fall ease 0.3s forwards;
    rotate: 90deg;
  }
  @keyframes fall {
    0% {
      opacity: 0;
      height: 0;
      width: 0;
    }

    100% {
      opacity: 1;
      height: 1.5rem;
      width: 3px;
    }
  }
}

.LoginMain #googleLoginBtn {
  padding: 0.75rem !important;
  width: 100% !important;
  outline: 2px solid var(--blue) !important;
  text-align: center !important;
  border-radius: 0.5rem;
  color: white;
}

/* For Styling Auto Completion */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

/* Profie Photo */
.profilePhoto {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profilePhoto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.profilePhoto input[type="file"] {
  display: none;
}

.custom-file-upload {
  outline: 1px solid #686868;
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.75;
  transition: all ease 0.2s;
}
.custom-file-upload i {
  color: #006aff;
  font-size: 2rem;
  opacity: 0.35;
}
.profilePhoto form button {
  outline: none;
  border: none;
  color: #000;
  padding: 0.5rem 1.25rem;
  font-weight: 550;
  border-radius: 0.35rem;
  cursor: pointer;
  font-size: 1.25rem;
  transition: all ease 0.2s;
  background: #fff;
}
.profilePhoto form button:hover {
  opacity: 0.85;
  background: #006aff;
}

/* No Post */

.noPosts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noPosts p {
  opacity: 0.35;
  color: white;
  font-size: 2rem;
  transition: all ease 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}
.noPosts p:hover {
  opacity: 1;
}
.noPosts a {
  font-size: 2.25rem;
  cursor: pointer;
  color: #006aff;
  text-decoration: none;
  transition: all ease 0.3s;
}
.noPosts a:hover {
  color: white;
}

.ellipsis {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 2px black, 0 0 4px black, 0 0 6px black;
}
